@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-poppins-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), "Poppins", sans-serif;
}

.blog-card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin: 10px;
}
.blog-card img {
  width: 100%;
  height: auto;
}